/* App.css */

/* Common styles for both login and signup components */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
}
h1{
   
  color:orange; 
  align-items: center; 
}
input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

button:hover {
  background-color: #3e8e41;
}

/* Specific styles for login component */
.login {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 10px;
}

/* Specific styles for signup component */
.signup {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 10px;
}

.home-container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.search-box {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  }
  
  .search-button {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .search-button:hover {
  background-color: #45a049;
  }.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.browse {
  display:flex;
}
.search-form label {
    margin-right: 10px;
}

.product-card {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
}

.product-card img {
    width: 100%;
}
